{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certamen 2</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'myapp/css/estilos.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #005E90;">
        <div class="col-3">
        <img src="{% static 'myapp/img/BarraColores.png' %}" class= "img-fluid" alt="barracolores" style="max-height: 5vh;max-width: 10vw;">
        <strong id="letras">PIE USM SVM</strong>
        </div class="col-3">

        <div class="col-6"></div>
        <a class="nav-item nav-link col-1 fuentenav" href="#inicio" id="letras">Inicio</a>
        <a class="nav-item nav-link col-1 fuentenav" href="#proyectos" id="letras">Proyectos</a>
        <a class="nav-item nav-link col-1 fuentenav" href="#sesion" id="letras">Iniciar Sesión</a>
        <div class="col-6"></div>
    </nav>


    <div class="row" id="inicio">
            <div class="container-fluid">
                 <div class="col-lg-md-12"> <img id=svm src="{% static 'myapp/img/svm.jpg' %}" alt="svm"> </div>
                 <div class="portal col-lg-md-12"> <h1><strong>Portal Iniciativas Estudiantiles</strong></h1></div>
                 <div class="usm col-lg-md-12"> <h4>Universidad Santa María - Sede Viña del Mar</h4></div>
                
            </div>
       
    </div>
    <div class="row"> <div> <button class="btn btn-primary"> Ver iniciativas </button> </div></div>

    <div class="row" id="proyectos">
        <div class="container-fluid">
            <div class="col-lg-md-12"> <h1 style="font-size: 3vw;font-weight: bolder;text-align: center;color: #e5b300;">Portafolio</h1></div>
            <div class="col-lg-md-12"> <h1 style="font-size: 4vw;font-weight: bolder;text-align: center;">Proyectos presentados</h1></div>
            
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nombre Proyecto</th>
                    <th scope="col">Estudiate</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Profesor</th>
                  </tr>
                </thead>

                <tbody class="table-group-divider">
                    {% for proyecto in proyectos%}
                    <tr>
                        <td>{{proyecto.nombreProyecto}}</td>
                        <td>{{proyecto.estudiante}}</td>
                        <td>{{proyecto.tema}}</td>
                        <td>{{proyecto.profesor}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>

            </table>

        </div>
    </div>

    <div class="row" id="proyectos">
        <div class="container-fluid">
            <div class="col-lg-md-12"> <h1 style="font-size: 3vw;font-weight: bolder;text-align: center;color: #e5b300;">Formulario</h1></div>
            <div class="col-lg-md-12"> <h1 style="font-size: 4vw;font-weight: bolder;text-align: center;">Ingresar proyecto</h1></div>
            <form action="{% url 'crearFormulario'%}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-3">
                        <p>Nombre proyecto:</p>
                        <input type="text" id="nombre" name="nombre">
                    </div>
                    <div class="col-3">
                        <p>Estudiante:</p>
                        <input type="text" id="estudiante" name="estudiante">
                    </div>
        
                    <div class="col-3">
                        <p>Tema:</p>
                        <input type="text" id="tema" name="tema">
                    </div>

                    <div class="col-3">
                        <p>Profesor:</p>
                        <input type="text" id="profesor" name="profesor">
                    </div>
        
                    <div class="col-2">
                    <button type="submit"> ENVIAR</button>
                    </div>
        
                </div>
            </form>

        </div>

    </div>


    <div class="row" id="sesion" style="background-color: #005E90;">
        <div class="container-fluid">
            <div class="col-6"> <h1 style="font-size: 3vw;font-weight: bolder;text-align: center;color: #ffff;">Iniciar Sesión</h1> <p>  </p></div> 
            <div class="col-6"> <p style="font-size: 1vw;text-align: left;color: #ffff;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam accusamus, corporis est repellendus id commodi, exercitationem numquam dolorum ipsa laboriosam aliquid suscipit officia, velit culpa illum rerum iure repellat odio.
            Animi dolorum quisquam porro! Corporis, error? Ab necessitatibus iure repellendus eum, ex aliquid accusamus. Non, accusamus veritatis eos, illo quia quam, vel deleniti natus aut cum quo incidunt possimus iusto.
            Veritatis fugiat fuga consequuntur voluptatem nisi delectus architecto totam dolor dicta mollitia, beatae esse facilis. Quis nisi dolor officia sed molestias, ex quaerat asperiores ullam tenetur quidem quae, dolorem optio.
            Vel delectus cupiditate papu eius deserunt aliquid.</p> <p>  </p></div> 
            <div class="formulario col-6">
                {% if si != 2 %}
                <form action="{% url 'login' %}" method="get">
                    <label for="usuario" style="min-width: 200px;">Nombre de usuario:</label>
                    <input type="text" id="usuario" name="usuario">
                    <br><br>
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="contraseña" name="contraseña">
                    <br>
                    <br>
                    <input type="submit" value="Entrar">
                </form>
    
                <form action="{% url 'index' %}">
                    <br>
                    <input type="submit" value="Entrar como invitado">
                </form>
                {%endif%}
    
                {% if si == 3 %}
                <p>Acceso Denegado.</p>
                {%endif%}
    
                {% if si == 2 %}
                <p>Acceso Concedido.</p>
                <form action="{% url 'index' %}">
                    <div class="d-grid gap-2 col-6"> <button class="btn btn-secondary" type="submit"> Iniciar Sesión </button> </div>
                </form>
                {% endif %}
            </div>

        </div>
    </div>

    
</body>
</html>