{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certamen 2</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'myapp/css/estilos.css' %}" />

</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #005E90;">
        <div class="col-1"></div>
        <a class="nav-item nav-link col-1 fuentenav" href="">Inicio</a>
        <a class="nav-item nav-link col-1 fuentenav" href="{% url 'admin:index' %}">Proyectos</a>
        <a class="nav-item nav-link col-1 fuentenav" href="">Iniciar Sesión</a>
        <div class="col-12"></div>
    </nav>
    
</body>
</html>